<form action="/login" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username" autofocus="autofocus"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
  <div>
    <a href="/auth/facebook">Login with Facebook</a>
  </div>
</form>
